body {
    background-color: #74c2e1;
    margin: 0;
    padding: 0;
    color: #005b9a;
    font-size: 18px;
    text-shadow: 1px 1px 1px #c0c0c0;

    background: linear-gradient(#74c2e1, #c0c0c0, #0191c8);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header {
    text-align: center;
    margin-top: 20px;
}

.link {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}

.link:hover {
    color: #005b9a;
}

.container a {
    width: 250px;
    text-align: center;
    display: block;
    justify-content: center;

    background-color: #005b9a;
    padding: 15px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 2px 1px 2px #0191c8;
}

.container a:hover {
    color: #c0c0c0;
    background-color: #0191c8;
    text-shadow: #005b9a 2px 2px 2px;
}

.container {
    margin-top: 50px;
}