.navbar {
    height: 70px;
    background-color: #003399;
    border-bottom: 1px solid #CCFFCC;
    overflow: hidden;
}

.navbar a {
    float: right;
    padding: 26px;
    color:  #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar a:hover {
    background-color: #CCFFCC;
    color: #003399;
}

body {
    background-color:  #66CCFF;
    margin: 0;
    padding: 0;

    background-image: linear-gradient( #0099CC,  #66CCFF, #003399 );
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style: none;
    text-align: center;
    padding: 35px;
    margin: 35px;
    margin-left: 450px;
    width: 40%;
}
ul li {
    margin: 25px;
    background-color: #003399;
    border-radius: 10px;
    padding: 25px;
}
ul li a {
    text-decoration: none;
    color: #CCFFCC;
    font-size: 20px;
}

ul li:hover, ul li a:hover {
    background-color: #66CCFF;
    color: #003399;
}

@media only screen and (max-width:800px) {
    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width:500px) {
    ul {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }
}