body {
    background-color: #74C2E1;
    margin: 0;
    padding: 0;

    background-image: url(../image/josh_withers.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #0191C8;
    width: 50%;
    text-align: center;
    padding: 15px;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    box-shadow: 5px 13px 20px #005B9A;
}

.header a {
    text-decoration: none;
    margin: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.header a:hover {
    color: #c0c0c0;
}

#container {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#container main {
    width: inherit;
    margin-top: 150px;
    margin-left: inherit;
    margin-right: inherit;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
}

#container main:hover {
    border: 1px solid #ffffff;
    box-shadow: #005B9A 5px 5px 5px;
}

#container main .peterson {
    font-size: 70px;
    color: #ffffff;
    text-shadow: 5px 1px 5px #0191C8;
    font-family: 'Lobster', cursive,Arial, Helvetica, sans-serif;
}

.two, .three {
    font-size: 18px;
    color: #ffffff;
    text-shadow: 5px 5px 5px #0191c8;
}
.three {
    color: #005B9A;
    background-color: #c0c0c0;
    border-radius: 5px;
    text-shadow: initial;
}

@media only screen and (max-width:500px) {
    #container {
        width: 80%;
    }
    #container main {
        margin-top: 50px;
    }
    .header {
        width: 30%;
        background-color: initial;
        box-shadow: initial;
    }
    .header a {
        display: block;
        padding-top: 15px;
        border-bottom: #005B9A 1px solid;
    }
    #container main .peterson {
        font-size: 32px;
        text-transform: uppercase;
    }
    
}